**/*.terraform
**/.terraform.tfstate.lock.info
**/*/.terraform.tfstate.lock.info
**/terraform.tfstate
**/*/terraform.tfstate
**/terraform.tfstate.backup
**/*/terraform.tfstate.backup
**/*.swp
terraform/terraform.tfvars
**/counter
**/dashboard
**/rice-box.go
.vscode/*
