terraform/.terraform
terraform/.terraform.tfstate.lock.info
terraform/terraform-azurerm-consul/terraform.tfstate
terraform/terraform-azurerm-consul/terraform.tfstate.backup
**/*.swp
terraform/terraform-azurerm-consul/terraform.tfvars
**/counter
**/dashboard
